*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(246, 246, 246, 0.8);
}

.container {
    width: 50vw;
    height: 34.325vh;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 3.4vh 2.1vw 6.865vh 4.2vw ;
}

.header-section{
    margin-bottom: 3.4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-name {
    display: flex;
    align-items: center;
    margin-right: 10vw;
}

h1{
    line-height: 28px;
    font-weight: 500;
    font-size: calc(16px + 8 * (100vw / 1440));
    color: #000;
}

.escape-img {
  position: relative;
  width: 30px;
  height: 30px;
}

img {
  width: 30px;
  height: 30px;
}

.content-section{
    display: flex;
    flex-direction: row;
    column-gap: 2.1vw;
    align-items: center;
}

.profile-image{
    height: 17.162vh;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

.text-container{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    font-weight: 400;
    font-size: calc(14px + 6 * (100vw / 1440));
}

.name{
    font-weight: 500;
}

@media (max-width:1024px) {
  .container{
    padding: 3.4vh 2.1vw 6.865vh 4.2vw ;
  }

  .escape-img {
    width: 28px;
    height: 28px;
  }
  img{
    width: 28px;
    height: 28px;
  }
  
  .profile-image{
    width: 120px;
    height: 120px;
  }
}

@media (max-width:768px){
  .escape-img {
    width: 28px;
    height: 28px;
  }
  img{
    width: 28px;
    height: 28px;
  }
}

@media (max-width:700px){
  .container{
    width: 240px;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-bottom: 27px ;
  }
  .header-section{
    align-items: center;
  }
  .content-section{
    row-gap: 0;
    align-self: flex-start;
  }
  .profile-image{
    display: none;
  }
  .escape-img {
    width: 25px;
    height: 25px;
  }
  img{
    width: 25px;
    height: 25px;
  }
}








