* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(246, 246, 246, 0.4);
  width: 100%;
  height: 12vh;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4vw 0 3vw;
}

.logo {
  width: 14vw;
  height: 4.5vh;
}

.header__item {
  padding: 3% 15%;
  font-weight: 400;
  font-size: calc(11px + 5 * (100vw / 1440));
  margin: 0 2.7vw;
  border-radius: 10px;
}

.no-fill {
  border: 2px solid #5D13E7;
  background-color: #fff;
  color: #5D13E7;
}

.fill {
  background-color: #5D13E7;
  color: #fff;
  border: 2px solid #5D13E7;
}

.header-button {
  cursor: pointer;
}

.wrapper {
  background-color: #f0f0f00c;
  padding: 4vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 4vw;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #5D13E7;
  width: 33vw;
  height: 77vh;
}

.text {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-row-gap: 3vh;
}

.information {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #5D13E7;
  color: #fff;
  border-radius: 30px;
}

.h1 {
  display: flex;
  align-items: center;
  padding: 5vh 4vw 0 4vw;
  font-style: normal;
  font-weight: 500;
  font-size: calc(24px + 16 * (100vw / 1440));
}

.h3 {
  display: flex;
  align-items: center;
  padding: 0 4vw;
  font-style: normal;
  font-weight: 400;
  font-size: calc(16.5px + 7.5 * (100vw / 1440));
}

@media (max-width: 767px) {
  .h1 {
    font-size: calc(24px + (16 + 16*0.7) * ((100vw - 320px) / 1440));
  }
  .h3 {
    font-size: calc(16.5px + (7.5 + 7.5*0.7) * ((100vw - 320px) / 1440));
  }
}


.carousel-name {
  font-style: normal;
  font-weight: 500;
  font-size: calc(16.5px + 7.5 * (100vw / 1440));
  color: #000;
  padding-left: 4vw;
  padding-top: 1.9vh;
}

.partners {
  background-color: #F6F6F6;
  border-radius: 30px;
}

.image img {
  width: 75%;
  height: 89%;
}

@media (max-width: 480px) {
  .logo {
    width: 25vw;
    height: 12vh;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4vw;
  }
  .image{
    display: none;
  }
}