*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(246, 246, 246, 0.8);
}

.container {
  width: 91.7vw;
  height: 76.7vh;
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 6.9vh 4.2vw;
}

.header-section{
  margin-bottom: 3.4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-name {
  display: flex;
  align-items: center;
  margin-right: 10vw;
}

h1{
  font-style: medium;
  font-weight: 500;
  font-size: calc(24px + 16 * (100vw / 1440));
  color: #000;
}

.escape-img {
  display: flex;
  width: 3.5vw;
  height: 5.7vh;
}

.create-project{
  overflow-y: auto;
}

.text-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-fields {
  display: flex;
  flex-direction: column;
  column-gap: 3.4vh;
  
}

.input-field {
  width: 37.5vw;
  height: 7vh;
  background: #F6F6F6;
  margin-bottom: 30px;
  border-radius: 15px;
  display: flex;
}

.input-field input {
  flex: 5;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  margin-left: 15px;
  font-size: calc(24px + 2.5 * (100vw / 1440));
  font-weight: 400;
  color: #000;
}

.text-area {
  display: block;
  width: 64.6vw;
  height: 36vh;
  background-color: #F6F6F6;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 15px;
  font-size: calc(24px + 2.5 * (100vw / 1440));
  border: none;
  resize: none;
  overflow-y: auto;
}

.text-area:focus {
  outline: none !important;
}

.btn {
  width: 180px;
  height: 60px;
  border: none;
  border-radius: 15px;
  background: #5D13E7;
  color: #fff;
  font-weight: 400;
  font-size: calc(24px + 2.5 * (100vw / 1440));
}

::-webkit-scrollbar{
  width: 0;
}




